
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset finish */

body
 {
  background: linear-gradient(45deg, blue, red);
  font-size: 16px;
  min-height: 100vh;
}
ul{
  display: flex;
  justify-content: center;
  height: 50px;
 
}
ul>li 
{
  
  display: flex;
  
  
}
li>button
{
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  
}
li>button:hover
{
color: gray;
}
.menu{
  position: absolute;
  display: none;
  background: transparent;
  transition: all 200ms;
  min-height: 100px;
  max-width: 400px;

  
}
.menu.menu-block {
  display: block;
  opacity: 0;
  padding: 10px;
  
}
.menu.menu-block-active {
  opacity: 1;
}
.menu-back {
  width: 10px;
  height: 10px;
  background: white;
  display: absolute;
  top:0px;
  left:0px;
  opacity: 0;
  transition: all 200ms;
  transform-origin: 0 0;
  border-radius: 0.1px;
  
}
.menu-back-active {
  opacity: 1;
}
.arrow {
  opacity: 0;
  width: 10px;
  height: 10px;
  background: white;
  transform:rotate(45deg);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 250ms;
}
.arrow.open {
  opacity: 1;
}
